.education {

    border: 1px solid greenyellow;
    
}

.education-heading {

    font-family: times, Times New Roman, times-roman, georgia, serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.education-details {

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.education-masters {

}

.education-bachelor {

}

.education-course {

}

.education-university {

}

.education-duration {

}