.homepage-header {

    background-color: #CD9C8A;
    height: 500px;
}

.homepage-main {

    background-color: #d4d3d4;
    height: 500px;

}

.homepage-footer {

    background-color: #111439;
    color: white;
    height: 500px;

}