.contact {
    display: flex;
    justify-content: space-between;
    border: 1px solid beige;
}

.contact-title {
    font-family: times, Times New Roman, times-roman, georgia, serif;
    border: 1px solid blueviolet;
    width: 30%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-content {
   
    border: 1px solid red;
    width: 70%;
}

.contact-name-heading {
    margin: 10px;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-name-heading h4 {
    font-size: 30px;
}



.contact-nav ul {
    display: flex;
    justify-content: center;
}

.contact-social-link ul {
    display: flex;
    justify-content: center;
}

ul li {
    padding: 10px;
    margin: 10px;
}

.contact-last-notes {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
