.experience {

    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    
}

.experience-title {
    font-family: times, Times New Roman, times-roman, georgia, serif;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.experience-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
}

.experience-juniper {
    margin: 10px;
    padding: 10px;
}

.experience-amdocs {
    margin: 10px;
    padding: 10px;
}

.experience-duties {

}