* {
    margin:  0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: #e76f51;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 0;
}